$space-base: 0.25rem;
$font-size-base-xs: 0.875rem;
$font-size-base-small: 1rem;
$font-size-base-medium: 1.125rem;
$desktop-width: 1128px;
$tablet-large-width: 840px;
$tablet-small-width: 552px;


//global
$color-brand-blue: #FFFFFF;
$color-brand-cyan: #FFFFFF;
$color-brand-green: #FFFFFF;
$color-brand-orange: #FF8F50;
$color-brand-red: #FFFFFF;
$color-brand-yellow: #FFFFFF;
$color-brand-turquoise: #FFFFFF;
$color-brand-purple: #622F60;
